*
{
    margin: 0;
    padding: 0;
}

html
{
    background: #1e1a20;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: calc(2.65vmin + 2.65vmax);
    padding-left: 10%;
    padding-right: 10%;
}
p 
    {
        align-self: self-end;
        color: white;
        font-family: 'Cabin', sans-serif;
        font-size: 1vw;
    }

@media  (max-width: 1400px) {
    .section
    {
        font-size: calc(1.65vmin + 1.65vmax);
    }
}
@media  (max-width: 768px) {
    .section
    {
        font-size: calc(2.5vmin + 2.5vmax);
        padding-top: 20dvh;
        align-items: flex-start;
        padding-left: 5%;
        padding-right: 5%;
    }

    p 
    {
        align-self: self-end;
        font-size: 3vw;
    }
    /* section:last-child
    {
        flex-direction: column !important;
        /* align-items: normal; */
        /* justify-content: space-between !important; 
    /* } */
}

section:nth-child(odd)
{
    justify-content: flex-end;
}
